.ui-icon-1x {
  font-size: 1em;
}
.ui-icon-2x {
  font-size: 2em;
}
.ui-icon-3x {
  font-size: 3em;
}
.ui-icon-4x {
  font-size: 4em;
}
.ui-icon-5x {
  font-size: 5em;
}

//.wca-logo:after{
//  content: url("./WCA Logo 2020.svg");
//}