.event-selection-container{
  display: flex;
}
.event-checkbox{
  display: none;
}
.event-label{
  margin-right: 15px;
  cursor: pointer;
}
.event-bar{
  display: flex;
  padding-left: 15px;
}
button{
  cursor: pointer;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.all-button{
  color: #fff;
  background-color: #375e97;
  border-color: #305284;
}
.all-button:hover{
  color: #fff;
  background-color: #294772;
  border-color: #203657;
}
.clear-button{
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.clear-button:hover{
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}