.floatThead-container{
  overflow-x: hidden;
  width: 100%;
}
.floatThead-table{
  border-collapse: collapse;
  border: 0 none rgba(0, 0, 0, 0.87);
  display: table;
  margin: 0;
  table-layout: fixed;
}
.floatThead-col{
  width: auto;
}
.table-condensed > thead > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table th {
  text-align:left;
}

table.table tfoot {
  font-weight: bold;
}
table.table-greedy-last-column,
#person table.table-greedy-last-column {
  white-space:nowrap
}
table.table-greedy-last-column>thead>tr>th:last-child,
#person table.table-greedy-last-column>thead>tr>th:last-child {
  width:100%
}
table.table-greedy-last-column>tbody>tr>td:last-child,
#person table.table-greedy-last-column>tbody>tr>td:last-child {
  width:100%
}