body {
  font-family: Roboto, Helvetica Neue, Arial, Helvetica, sans-serif;
}
a,
.panel-warning>.heading-as-link:hover,
.panel-info>.heading-as-link:hover {
  color:#e64503 !important;
  text-decoration:none
}
a:hover,
.panel-warning>.heading-as-link:hover,
.panel-info>.heading-as-link:hover,
a:focus,
a.StripeElement--focus {
  color:#9a2e02 !important;
  text-decoration:underline
}
a:focus,
a.StripeElement--focus,
.panel-warning>.heading-as-link:focus:hover,
.panel-warning>.heading-as-link.StripeElement--focus:hover,
.panel-info>.heading-as-link:focus:hover,
.panel-info>.heading-as-link.StripeElement--focus:hover {
  outline:5px auto -webkit-focus-ring-color;
  outline-offset:-2px
}